## Hypothesis

1.We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other.

Null hypothesis there is no difference between the two

In [14]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

In [15]:
from scipy.stats import ttest_1samp

In [16]:
from scipy.stats import norm

In [17]:
import math

In [18]:
from scipy.stats import t

In [105]:
import statistics as stats

In [8]:
Hypothesis_data = pd.read_excel('Hypo.xlsx')
Hypothesis_data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [9]:
Hypothesis_data.describe()

       New machine      Old machine
count    10.000000        10.000000
mean     42.140000        43.230000
std       0.683455         0.749889
min      41.000000        41.700000
25%      41.800000        42.800000
50%      42.200000        43.400000
75%      42.625000        43.750000
max      43.200000        44.100000

In [ ]:
stats=pd.DataFrame()

In [112]:
stats["Var"]=Hypothesis_data.var()
stats

                      Var
New machine      0.467111
    Old machine  0.562333

Pooled standard deviation

In [113]:
SD1 = 0.683
SD2 = 0.750
n1 =  10
n2 =  10
new_machine_variance=0.467
old_machine_variance=0.562

In [114]:
SDpooled_sampl_std = ((n1-1)*SD1 + (n2-1)*SD2)/(n1+n2-2)
SDpooled_sampl_std

0.7165

Test statistic

In [115]:
sampl_std = 0.717
mean_old_machine = 43.23
mean_new_machine = 42.14

In [116]:
t_statistic = (mean_new_machine-mean_old_machine)/(math.sqrt(new_machine_variance/n1 + old_machine_variance/n2)) 
t_statistic

-3.3979642908175838

The test statistic, -3.3978, is in our rejection region, therefore, we reject the null hypothesis that there is no difference between the new machine and old machine

Degrees of freedom

In [118]:
n1 + n2 - 2

18

Considering a significance level alpha = 0.05 ,the null hypothesis is rejected, hence there is enough evidence to suggest that the new machine is faster than the old machine.